.footer {
    background-color: darkslategray;
    color: white;
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.footer > button {
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    background-color: #005ea2;
    padding: 5px;
    margin: 10px;
    /* justify-content: flex-end; */
}
.icon {
    margin: 10px 10px;
    background-color: #005ea2;
    transform: scale(1.2);
    color: whitesmoke;
}