.home > img {
    width: 100%;
    /* margin-top: 0px; */
    height: 200px;
    object-fit: cover;
    opacity: 0.5;
}
.home > h1 {
    color: gray;
    border-bottom: 1px solid gray
}
/* .Post {
    display: flex;
} */
.posts {
    display: flex;
    /* margin-right: 20px; */
    /* padding: 16px 32px; */
    width:90%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* margin: 100px auto; */
}
/* .posts > img {
    width: 100%;
    object-fit: cover;
} */