.question {
    display: inline-block;
    border: 3px;
    padding: 3px;
    margin: 10px 10px;
    flex-grow: var(2px);
    border-width: 2px;
    overflow-wrap: anywhere;
    width:500px;
    background-color: #005ea2;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
}
.question > h4 {
    color: whitesmoke;
}